body{
    text-align: center;
    background-color: #232323;
    font-family: sans-serif;
}

.header{
    background-color: teal;
    color: whitesmoke;
    margin-top: 0%;
}

h1{
    font-size: 40px;
    font-weight: 400;
    margin: 0%;
}

h2{
    font-size: 80px;
    margin: 0%;
}

.container{
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20%;
}

.square{
    width: 30%;
	padding-bottom: 30%;
    float: left;
	margin: 1.66%;
    transition: background .5s;
    border-radius: 30%;
    
}

#num1{
    background-color: rgb(85, 43, 43);
}

.bar{
    background-color: whitesmoke;
    height: 20%;
    display: flex;
    justify-content: center;
}

h3{
    margin-top: 0%;
    text-align: left;
    margin: 1%;
    margin-left: 10%;
    margin-right: 10%;
    color: silver;
}

#newColour{
    cursor: pointer;
}
